[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	dt = difftool
    dy = "!f() { git difftool -y $@ ':(exclude)*.so.*'; }; f"
    dn = diff --name-only --relative
	mt = mergetool
    ri = rebase -i
    ls = ls-files
    sm = "!f() { git submodule foreach --recursive git $@; }; f"
[user]
	email = cchung@timelinecapital.com
	name = cchung
[core]
	editor = vim
[merge]
	tool = vimdiff
[diff]
    tool = vimdiff
[difftool]
    #prompt = false
	trustExitCode = true
[mergetool]
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
