[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	dt = difftool
	mt = mergetool
    dn = diff master --name-only
[user]
	email = chris.chung@winfuncapital.com
	name = chris
[core]
	editor = vim
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
