[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	dt = difftool
    dy = "!f() { git difftool -y $@ ':(exclude)*.so.*'; }; f"
    dn = diff --name-only --relative
	mt = mergetool
    ri = rebase -i
    ls = ls-files
    sm = "!f() { git submodule foreach --recursive git $@; }; f"
[user]
	email = cchung@timelinecapital.com
	name = cchung
[core]
	editor = vi
[merge]
	tool = nvimdiff
[diff]
	tool = nvimdiff
[diff "so"]
    command = /bin/true
    #textconv = /bin/true
[difftool]
	trustExitCode = true
[mergetool]
	trustExitCode = true
[mergetool "nvimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
